.container-wrapper, .content-wrapper-sub1 {
    height: 100%;
}

.validation-invalid {
    color: #9F3A38;
}

.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.orgchart{
    background-image:none!important;
}

